<div class="container-fluid">

  <section>
    <div class="product-header">
      <h1>Product List</h1>
      <button type="button" class="btn btn-outline-primary">
        Add Product
      </button>
      <button type="button" class="btn btn-outline-primary">
        Close Products
      </button>
    </div>

    <table class="table">
      <thead class="thead-light t-head">
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Description</th>
          <th scope="col">Created Date</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quentity in Kgs</th>
          <th scope="col">Availability</th>
          <th scope="col">Product Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.productId }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.productDescription }}</td>
          <td>{{ product.createdDate | date }}</td>
          <td>{{ product.unitPrice | currency: 'Rs. '}}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <p *ngIf="product.quantity <= 50">Lower Inventory Level</p>
            <p *ngIf="product.quantity > 50">Sufficient Inventory Level</p>
          </td>
          <td>
            <button type="button" class="btn-xs icon">
              <i class="fa fa-eye icon"></i>
            </button>
            <button type="button" class="btn-xs icon">
              <i class="fa fa-pencil-square-o icon"></i>
            </button>
          </td>
      </tbody>
    </table>
  </section>

  
</div>
    
