<div class="container-fluid">
    <table class="table">
      <thead class="thead-light t-head">
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Date</th>
          <th>Price</th>
          <th>Quentity</th>
          <th>Product Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>White Basmathi Rice</td>
          <td>Imported from Pakistan</td>
          <td>20/11/2020</td>
          <td>250</td>
          <td>100</td>
          <td>
            <i class="fa fa-eye icon"></i>
            <i class="fa fa-pencil-square-o icon"></i>
        </td>
        </tr>
        <tr>
          <td>002</td>
          <td>Dhal</td>
          <td>Sri Lankan Organic</td>
          <td>12/10/2021</td>
          <td>190</td>
          <td>80</td>
          <td>
            <i class="fa fa-eye icon"></i>
            <i class="fa fa-pencil-square-o icon"></i>
          </td>
        </tr>
        <tr>
          <td>003</td>
          <td>Sugar</td>
          <td>Orginal Brown Sugar</td>
          <td>11/09/2022</td>
          <td>120</td>
          <td>70</td>
          <td>
            <i class="fa fa-eye icon"></i>
            <i class="fa fa-pencil-square-o icon"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    
